{% extends 'header.html' %}
{% block content %}
{% load static %}
		<!-- pages-title-start -->
		<section class="contact-img-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="con-text">
							<h2 class="page-title">About Us</h2>
							<p><a href="#">Home</a> | About Us</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- pages-title-end -->
		<!-- about content section start -->
		<section class="main_shop_area">
			<div class="breadcrumbs">
				<div class="container">
					<div class="row">
						<div class="about-us-all">
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="about-optima-img">
									<div class="about-left-img">
										<img class="primary-image" src="{% static 'img/about/left-bg.jpg' %}" alt="" />
									</div>
									<div class="about-rasee-logo">
										<img src="{% static 'img/about/about-logo.jpg' %}" alt="" class="about-logo" />
										<div class="title">
											<h2 class="about-resee-title">RASEE</h2>
											<h6 class="about-resee-sub-title">HOUSE OF FASHION</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12">
								<div class="about-right-img">
									<img src="{% static 'img/about/about-img1.jpg' %}" alt="" />
								</div>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12">
								<div class="about-right-img">
									<img src="{% static 'img/about/about-img2.jpg' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="row about-row-right-start">
						<div class="col-md-10 col-sm-12 col-xs-12">
							<div class="about-optima-text">
								<h1>
									About
									<strong>Us</strong>
								</h1>
								<br />

								<p
									>We Rasee Knitwear Pvt. Ltd. established in 2019, with experienced
									promoters who are in this field since 10 years.</p
								>
								<br />
								<p
									>We are a Fashion Textile Manufacturing Company in India. We will
									always been committed in providing our customers with the highest
									quality Fabrics and Garments. Leading the Textile Company with a
									considerable reputation in dyeing, printing, finishing fabrics and
									Manufacturing Men’s Garments.
								</p>
								<br />
								<p
									>Quality always matters to us so we own an ISO 9001:2008 quality
									management certificate. we having good position in market Just because
									of our clients trust and support.</p
								>
								<br />
								<p>We understand that each customer needs to individualize the uniform to suit their requirement.
									 Therefore we not only provide the extraordinary garment, but also the very unusual CUSTOMIZED SUPPORT SERVICE.</p>
								<br />
								<p>
									Do get in touch. We'll never let you down.
								</p>
								<br />
								<hr>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-12 director-title">
						<div class="about-sec-head">
							<h2 class="creative-member">
								Our
								<strong>Director</strong>
							</h2>
							<p
								>Our skill is really high quality and standard for build your
								project.</p
							>
						</div>
					</div>
					<div class="row director-row">
						<div class="col-md-3 col-sm-6">
							<div class="single-creative-member res2">
								<div class="member-image">
									<img alt="" src="{% static 'img/about/5.jpg' %}" />
									<div class="member-title">
										<h2>Seema Patel</h2>
										<h3>Director </h3>
									</div>
								</div>
							</div> </div
						><div class="col-md-3 col-sm-6">
							<div class="single-creative-member res2">
								<div class="member-image">
									<img alt="" src="{% static 'img/about/6.jpg' %}" />
									<div class="member-title">
										<h2>Rashmi Patel</h2>
										<h3>Director </h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row newsletter-area">
						<div class="signup-newsletter">
							<h2>Sign Up For Newsletter</h2>
							<div class="blog-search">
								<form action="#">
									<input type="text" placeholder="Search" />
									<button type="submit">Sign up</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about  content section end -->
		<!-- quick view start -->
		
		</div>
		<!-- quick view end -->
		<!-- brand section start -->
		
		<!-- brand section end -->
		<!-- service section start -->
		
		<!-- service section end -->
		{% endblock %}