{% extends 'header.html' %}
{% load static %}
{% block content %}

        <!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Shop</h2>
                            <p><a href="#">Home</a> | shop</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- shop-style content section start -->
		<section class="pages products-page section-padding-top">
			<div class="container">
				<div class="row">
				    <!-- <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="all-shop-sidebar">
                            <div class="top-shop-sidebar">
                                <h3 class="wg-title">SHOP BY</h3>
                            </div> -->
                            <!-- <div class="shop-one">
                                <h3 class="wg-title2">Categories</h3>
                                <ul class="product-categories">
                                    <li class="cat-item">
                                        <a href="#">Accessories</a>
                                        <span class="count">(10)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Jewelry</a>
                                        <span class="count">(8)</span>
                                    </li>
                                    <li class="cat-item current-cat">
                                        <a href="#">Men</a>
                                        <span class="count">(5)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Watches</a>
                                        <span class="count">(6)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Women</a>
                                        <span class="count">(10)</span>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- <div class="shop-one">
                                <h3 class="wg-title2">Our Brand</h3>
                                <ul class="product-categories">
                                    <li class="cat-item">
                                        <a href="#">Nike</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Religion</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item-10">
                                        <a href="#">Diesel</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Monki</a>
                                        <span class="count">(1)</span>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- <div class="shop-one re-shop-one">
                                <h3 class="wg-title2">Choose Price</h3>
                                <div class="widget shop-filter">
                                    <div class="info_widget">
                                        <div class="price_filter">
                                            <div id="slider-range"></div>
                                            <div id="amount">
                                                <input type="text" name="first_price" class="first_price" />
                                                <input type="text" name="last_price" class="last_price"/>
                                                <button class="button-shop" type="submit"><i class="fa fa-search search-icon"></i></button>
                                            </div>
                                            
                                        </div>
                                    </div>							
                                </div>
                            </div>
                            <div class="shop-one re-shop-one">
                                <h3 class="wg-title2">Choose Color</h3>
                                <ul class="product-categories">
                                    <li class="cat-item cat-item-11">
                                        <a href="#">Black</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item cat-item-8">
                                        <a href="#">Orange</a>
                                        <span class="count">(1)</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-shop-sidebar sim">
                                <h3 class="wg-title">Compare Products</h3>
                                <ul class="products-list">
                                    <li class="cat-item cat-item-11">No products to compare</li>
                                </ul>
                                <a class="clear-all" href="#">Clear all</a>
                                <a class="blog8" href="#">Compare</a>
                            </div>
                            <div class="top-shop-sidebar sim2">
                                <h3 class="wg-title">Community Pool</h3>
                            </div>
                            <div class="shop-one">
                                <ul class="product-categories">
                                    <li class="cat-item cat-item-11">
                                        <a href="#">Black</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item cat-item-8">
                                        <a href="#">Orange</a>
                                        <span class="count">(1)</span>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- <div class="top-shop-sidebar an-shop">
                                <h3 class="wg-title">BEST SELLER</h3>
                                <ul>
                                   <li class="b-none">
                                        <div class="tb-recent-thumbb">
                                            <a href="#">
                                                <img class="attachment" src="{% static 'img/products/1.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="tb-recentb">
                                            <div class="tb-beg">
                                                <a href="#">Lambskin Shoe</a>
                                            </div>
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount">$180.00</span>
                                            </div>
                                        </div>
                                    </li>
                                   <li class="b-none">
                                        <div class="tb-recent-thumbb">
                                            <a href="#">
                                                <img class="attachment" src="{% static 'img/products/2.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="tb-recentb">
                                            <div class="tb-beg">
                                                <a href="#">Luxury Leather Bag</a>
                                            </div>
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount2 ana">$170.00</span>
                                            </div>
                                        </div>
                                    </li>
                                   <li class="b-none agn">
                                        <div class="tb-recent-thumbb">
                                            <a href="#">
                                                <img class="attachment" src="{% static 'img/products/3.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="tb-recentb">
                                            <div class="tb-beg">
                                                <a href="#">Vintage Glasses</a>
                                            </div>
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount2 ana">$170.00</span>
                                            </div>
                                        </div>
                                    </li>
                               </ul>
                            </div> -->
                            <!-- <div class="ro-info-box-wrap tpl3 st">
                                <div class="tb-image">
                                    <img src="{% static 'img/products/4.jpg' %}" alt="">
                                </div>
                                <div class="tb-content">
                                    <div class="tb-content-inner an-inner">
                                        <h5>WOMEN'S FASHION</h5>
                                        <h3>MID SEASON SALE</h3>
                                        <h6>
                                            <a href="#">SHOP NOW</a>
                                        </h6>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div>
                    </div> -->
                    <div class="col-md-11 col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="features-tab">
                                  <!-- Nav tabs -->
                                    <div class="shop-all-tab">
                                        <div class="two-part">
                                            <ul class="nav tabs" role="tablist">
                                                <li class="vali">View as:</li>
                                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
                                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-align-justify"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="re-shop">
                                           <div class="sort-by">
                                                <div class="shop6">
                                                    <label>Sort By :</label>
                                                    <select>
                                                        <option value="">Default sorting</option>
                                                        <option value="">Sort by popularity</option>
                                                        <option value="">Sort by average rating</option>
                                                        <option value="">Sort by newness</option>
                                                        <option value="">Sort by price: low to high</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="shop5">
                                                <label>Show :</label>
                                                <select>
                                                    <option value="">12</option>
                                                    <option value="">24</option>
                                                    <option value="">36</option>
                                                </select>      
                                            </div>
                                        </div>
                                    </div>
                                  <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="row">
                                                <div class="shop-tab">
                                                    <!-- single-product start -->
                                                    {% for list in object_list %}
                                                    <div class="col-md-3 col-lg-3 col-sm-12">
                                                        <div class="single-product">
                                                            <div class="product-img">
                                                                <div class="pro-type">
                                                                    <span>new</span>
                                                                </div>
                                                                <a href="#">
                                                                    <img src="{% static 'img/products/1.jpg' %}" alt="Product Title" />
                                                                    <img class="secondary-image" alt="Product Title" src="{% static 'img/products/2.jpg' %}">
                                                                </a>
                                                            </div>
                                                            <div class="product-dsc">
                                                                <h3><a href="#">{{list.product_name}}</a></h3>
                                                                <div class="star-price">
                                                                    <span class="price-left">{{list.price}}.00</span>
                                                                    <span class="star-right">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-half-o"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                                                <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                                                <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Compare"><i class="fa fa-retweet"></i></a>
                                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                            <div class="row">
                                                <div class="li-item">
                                                    <div class="col-md-3 col-sm-3">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>new</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="{% static 'img/products/1.jpg' %}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="#">Vintage Shoulder Bag</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$79.00 - </span>
                                                                    <span class="amount2 ana">$100.00</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo  </p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>sale</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="{% static 'img/products/2.jpg' %}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="#">Vintage Shoulder Bag</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$79.00 - </span>
                                                                    <span class="amount2 ana">$100.00</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo  </p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>new</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="{% static 'img/products/3.jpg' %}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="#">Vintage Shoulder Bag</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$79.00 - </span>
                                                                    <span class="amount2 ana">$100.00</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo  </p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>sale</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="{% static 'img/products/4.jpg' %}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="#">Vintage Shoulder Bag</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$79.00 - </span>
                                                                    <span class="amount2 ana">$100.00</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo  </p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="{% static 'img/products/5.jpg' %}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="#">Vintage Shoulder Bag</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">$79.00 - </span>
                                                                    <span class="amount2 ana">$100.00</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo  </p>
                                                            <div class="last-cart l-mrgn ns">
                                                                <a class="las4" href="#">Add To Cart</a>
                                                            </div>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-retweet"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	
                                        </div>
                                    </div>
                                    <div class="shop-all-tab-cr shop-bottom">
                                        <div class="two-part">
                                            <div class="shop5 page">
                                                <ul>
                                                    <li>
                                                        <a class="active" href="#">1</a>
                                                        <a href="#">2</a>
                                                        <a href="#">3</a>
                                                        <a href="#">4</a>
                                                        <a href="#">5</a>
                                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                                    </li>
                                                </ul>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
{% endblock %}
